
[include]
    path = .gitconfig_local

[push]
	default = simple

[color]
	ui = true
	status = auto
	branch = auto

[core]
	#editor = "C:\\Program Files (x86)\\Git\\bin\\nano\\nano.exe"
	excludesfile = ~/.gitignore

[alias]
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ls = log --graph --date=local --pretty=format:"%C(yellow)%h\\ %C(blue)%ad\\ %C(red)%d\\ %C(reset)%s%C(blue)\\ [%cn]"
    s=status
	a=add
	b=branch
	c=commit
	ca=commit --amend
	d=diff
	o=checkout
	p=pull
	pr=pull --rebase
	r=remote
	gh=rev-list --all | xargs git grep
	brm=branch --merged | grep -v \\* | xargs git branch -D

[merge]
	tool = kdiff3

[diff]
	tool = kdiff3

[difftool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$LOCAL\" \"$REMOTE\"
    path = 

[mergetool "kdiff3"]
	path = "C:\\Program Files\\KDiff3\\kdiff3.exe"
	keepBackup = false
	trustExitCode = false

[mergetool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
    
[mergetool]
    keepBackup = false
[credential]
	helper = store
