
[include]
    path = .gitconfig_local

[push]
    default = simple

[color]
    ui = true
    status = auto
    branch = auto

[core]
    editor = vim
    excludesfile = ~/.gitignore
    preloadindex = true
    fscache = true
    filemode = false

[alias]
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lg = log --graph --date=local --pretty=format:"%C(yellow)%h\\ %C(blue)%>(24,trunc)%ad\\ %C(red)%d\\ %C(reset)%s%C(blue)\\ [%cn]"
    ls = log --date=local --pretty=format:"%C(yellow)%h\\ %C(blue)%>(24,trunc)%ad\\ %C(magenta)%>(3,trunc)%cn\\ %C(reset)%s\\%C(red)%d"
    s=status
    a=add
    b=branch
    c=commit
    ca=commit --amend
    d=diff
    o=checkout
    p=pull
    pr=pull --rebase
    r=remote
    gh=rev-list --all | xargs git grep
    brm=branch --merged | grep -v \\* | xargs git branch -D
    dd=difftool --dir-diff
    praise = blame

# [merge]
# 	tool = vimdiff
#
# [diff]
# 	tool = vimdiff
#
# [difftool "vimdiff"]
#     keepBackup = false
#
# [mergetool "vimdiff"]
# 	keepBackup = false
#
# [mergetool]
#     keepBackup = false
#
[diff]
    tool = kdiff3

[merge]
    tool = kdiff3

[mergetool "kdiff3"]
    # path = E:/playground/softwares/KDiff3/kdiff3.exe
    keepBackup = false
    trustExitCode = false

[difftool "kdiff3"]
    # path = E:/playground/softwares/KDiff3/kdiff3.exe
    keepBackup = false
    trustExitCode = false

[credential]
	helper = store

[gc]
	auto = 256
