
[include]
    path = .gitconfig_local

[push]
	default = simple

[color]
	ui = true
	status = auto
	branch = auto

[core]
	editor = vim
	excludesfile = ~/.gitignore
	preloadindex = true
	fscache = true
	filemode = false

[alias]
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ls = log --graph --date=local --pretty=format:"%C(yellow)%h\\ %C(blue)%ad\\ %C(red)%d\\ %C(reset)%s%C(blue)\\ [%cn]"
    s=status
	a=add
	b=branch
	c=commit
	ca=commit --amend
	d=diff
	o=checkout
	p=pull
	pr=pull --rebase
	r=remote
	gh=rev-list --all | xargs git grep
	brm=branch --merged | grep -v \\* | xargs git branch -D
	dd=difftool --dir-diff
  praise = blame

[merge]
	tool = kdiff3

[diff]
	tool = kdiff3

[difftool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$LOCAL\" \"$REMOTE\"
    path =

[mergetool "kdiff3"]
	keepBackup = false
	trustExitCode = false

[mergetool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true

[mergetool]
    keepBackup = false
[credential]
	helper = store
[gc]
	auto = 256
