 " Turn on syntax highlighting
syntax on

" options
set encoding=utf-8
set smartindent
set autoindent
set expandtab
set tabstop=4
set shiftwidth=4
set laststatus=2
set autowrite           " Automatically save buffer
set number
set incsearch
set scrolloff=3         " keep 3 lines when scrolling
set showcmd             " display incomplete commands
set nobackup            " do not keep a backup file
set nowritebackup
set noswapfile
set hlsearch            " highlight searches
set showmatch           " jump to matches when entering regexp
set ignorecase          " ignore case when searching
set smartcase           " no ignorecase if Uppercase char present
set encoding=utf-8
set wildmenu
set fileformat=unix " No crazy CR/LF
set ruler   " Show the line position at the bottom of the window
set scrolloff=4 " Minimum lines between cursor and window edge
set textwidth=120   " Maximum line width
set whichwrap=<,>,[,],h,l " Allows for left/right keys to wrap across lines
:set relativenumber

:set nocompatible

" Easiear copy paste to system clipboard
set clipboard=unnamed

" load settings
" Disable arrow keys
map <up> <nop>
map <down> <nop>
map <left> <nop>
map <right> <nop>
imap <up> <nop>
imap <down> <nop>
imap <left> <nop>
imap <right> <nop>

" Quick escape
inoremap jk <esc>

function! NumberToggle()
  if(&relativenumber == 1)
    set number
  else
    set relativenumber
  endif
endfunc

nnoremap <C-n> :call NumberToggle()<cr>