snippet salt-win-package
${1:name}:
  ${2:version}:
    full_name: '${3:full_name}'
    installer: '${4:path}'
    install_flags: '-q -norestart'
    uninstaller: '${4:path}'
    uninstall_flags: '-q -norestart'
    msiexec: False
    locale: en_US
    reboot: False$0
endsnippet

snippet salt-require-package
${1:name}:
	pkg.installed:
		- name: ${1:name}
endsnippet
